<div class="login-wrapper">
  <h2>Iniciar sesión</h2>

  <div class="form-group">
    <label>Correo electrónico</label>
    <ion-input placeholder="*Ingrese correo" type="email"></ion-input>
  </div>

  <div class="form-group">
    <label>Contraseña</label>
    <ion-input placeholder="*Mínimo 8 caracteres, 2 números." type="password"></ion-input>
  </div>

  <div class="buttons">
    <ion-button expand="block" (click)="irAPrincipal()">
      <ion-icon name="log-in-outline" slot="start"></ion-icon>
      Iniciar sesión
    </ion-button>

    <div class="register-section">
      <span>¿Nuevo usuario?</span>
      <ion-button (click)="irARegistro()">
        <ion-icon name="people-outline" slot="start"></ion-icon>
        Registrarse
      </ion-button>
    </div>

    <div class="forgot-password">
      <ion-button fill="clear" (click)="irARecuperarContrasena()">¿Olvidaste tu Contraseña?</ion-button>
    </div>
  </div>
</div>
