<div class="registrar-asistentes-container">
  <h2>Registro de asistencia</h2>

  <form #asistenciaForm="ngForm">
    <ion-input
      type="number"
      name="asistentes"
      placeholder="Asistentes"
      required
      fill="outline"
    ></ion-input>

    <ion-input
      type="number"
      name="hombres"
      placeholder="Hombres"
      required
      fill="outline"
    ></ion-input>

    <ion-input
      type="number"
      name="mujeres"
      placeholder="Mujeres"
      required
      fill="outline"
    ></ion-input>

    <ion-button expand="block" class="btn-guardar" (click)="goToCharlaEspecifica()" type="submit">
      Guardar Asistencia
    </ion-button>
  </form>

  <ion-button expand="block" fill="solid" class="btn-volver" (click)="goToCharlaEspecifica()">
    Volver a charla
  </ion-button>
</div>
