<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="assets/banner-superior.png" style="width: 100%; height: auto;" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="perfil-background">

  <!-- Botón volver -->
  <ion-button class="boton-volver" fill="solid" routerLink="/menu">
    Volver a Menú
  </ion-button>

  <div class="perfil-container">
    <div class="perfil-header">
      <ion-icon name="person-circle-outline" class="perfil-icon"></ion-icon>
      <h1>Nombre Apellido</h1>
    </div>

    <div class="formulario">
      <div class="form-col">
        <ion-item>
          <ion-label position="stacked">RUT</ion-label>
          <ng-container *ngIf="!editando; else inputRut">
            <p class="texto-valor">12.345.678-9</p>
          </ng-container>
          <ng-template #inputRut>
            <ion-input placeholder="RUT" [(ngModel)]="rut"></ion-input>
          </ng-template>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Región</ion-label>
          <ng-container *ngIf="!editando; else inputRegion">
            <p class="texto-valor">Región Metropolitana</p>
          </ng-container>
          <ng-template #inputRegion>
            <ion-input placeholder="Región" [(ngModel)]="region"></ion-input>
          </ng-template>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Comuna</ion-label>
          <ng-container *ngIf="!editando; else inputComuna">
            <p class="texto-valor">Santiago</p>
          </ng-container>
          <ng-template #inputComuna>
            <ion-input placeholder="Comuna" [(ngModel)]="comuna"></ion-input>
          </ng-template>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Dirección</ion-label>
          <ng-container *ngIf="!editando; else inputDireccion">
            <p class="texto-valor">Av. Siempre Viva 123</p>
          </ng-container>
          <ng-template #inputDireccion>
            <ion-input placeholder="Dirección" [(ngModel)]="direccion"></ion-input>
          </ng-template>
        </ion-item>
      </div>

      <div class="form-col">
        <ion-item>
          <ion-label position="stacked">Correo electrónico</ion-label>
          <ng-container *ngIf="!editando; else inputCorreo">
            <p class="texto-valor">correoejemplo.com</p>
          </ng-container>
          <ng-template #inputCorreo>
            <ion-input type="email" placeholder="Correo" [(ngModel)]="correo"></ion-input>
          </ng-template>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ng-container *ngIf="!editando; else inputPass">
            <p class="texto-valor">********</p>
          </ng-container>
          <ng-template #inputPass>
            <ion-input type="password" placeholder="Contraseña" [(ngModel)]="password"></ion-input>
          </ng-template>
        </ion-item>
      </div>
    </div>

    <div class="boton-editar">
      <ion-button expand="block" color="primary" (click)="toggleEditar()">
        {{ editando ? 'Guardar Cambios' : 'Editar Perfil' }}
      </ion-button>
    </div>
  </div>
</ion-content>

