.custom-header {
  --background: #ccc;
  height: 56px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  height: 56px;
  padding: 0 0rem;
}

/* Logo a la izquierda */
.left-image {
  height: 56px;
  width: auto;
}

/* Casita al centro absoluto */
.home-button {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
  border: none;
}

.home-icon {
  font-size: 26px;
  color: black;
}

/* Perfil a la derecha en recuadro */
.user-info {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 0rem 0rem;
  border-radius: 300px;
  font-size: 0.95rem;
  max-width: 30vw;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 0.50rem;
}

.user-button {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  //padding: 0;
  justify-content: flex-start;
  width: 100%;
  border-radius: inherit;
  overflow: hidden;
}

.user-icon {
  font-size: 45px;
  color: black;
  //margin-right: 1vw;
}


.user-name {
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 600px) {

  .user-name {
    display: none;
  }

  .user-info {
    padding: 0.5rem;
    max-width: none;
  }

  .user-icon {
    font-size: 26px;
  }
}
