<ion-content [fullscreen]="true">
  <div class="contenido-calendario">
    <h1 class="titulo-calendario">Calendario</h1>

    <ion-button expand="block" color="dark" class="volver-btn" (click)="BackButton()">
      Volver al menú
    </ion-button>

    <div class="calendario-central">
      <mwl-calendar-month-view
        [viewDate]="viewDate"
        [events]="events"
        [locale]="'es'"
        (eventClicked)="handleEvent($event.event)">
      </mwl-calendar-month-view>
    </div>
  </div>
</ion-content>
