<ion-content class="principal-content">
    <div class="contenedor-botones">
      <!-- Botón 1: Parte superior izquierda -->
      <ion-button color="primary" class="boton-izquierda" (click)="goToCalendario()">
        <ion-icon slot="start" name="calendar-outline"></ion-icon>
        Calendario
      </ion-button>
  
      <!-- Botón 2: A la derecha del Botón 1 -->
      <ion-button color="primary" class="boton-derecha" (click)="goToActividades()">
        <ion-icon slot="start" name="game-controller-outline"></ion-icon>
        Actividades
      </ion-button>
  
      <!-- Botón 3: Debajo del Botón 2 -->
      <ion-button color="primary" class="boton-abajo" (click)="goToCharlas()">
        <ion-icon slot="start" name="chatbubbles-outline"></ion-icon>
        Charlas
      </ion-button>
    </div>

    <div class="lista-izquierda">
        <ion-list>
          <ion-item>Charla 1</ion-item>
          <ion-item>Charla 2</ion-item>
          <ion-item>Charla 3</ion-item>
        </ion-list>
    </div>
    <div slot = "fixed" class="floating-button">
      <ion-button color="primary">
        Botón flotante
      </ion-button>
    </div>

    <ion-fab slot="fixed" vertical="top" horizontal="start" class="fab-prueba">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

</ion-content>



  