.contenedor {
  padding: 2rem;
  text-align: center;

  h2 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .lista {
    background: #d3d3d3;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 1rem;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .item {
    background: #fff;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nombre {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: 500;
      color: #000;
    }

    ion-button {
      --padding-start: 0;
      --padding-end: 0;
      --background: transparent;
      --box-shadow: none;
      width: 32px;
      height: 32px;
      min-width: 32px;
    
      ion-icon {
        font-size: 50rem; // ajusta según lo que se vea bien visualmente
        color: #2f3542; // o el color que prefieras
      }
    }
    
  }

  ion-button.volver {
    margin: 20px auto 0 auto;
    --background: #2f3542;
    --color: #fff;
    --border-radius: 6px;
    --box-shadow: none;
    font-weight: 500;
    text-transform: none;
    width: 10rem;
  }
  
}
