<div class="contenedor">
  <h2>Actividades asignadas</h2>

  <div class="lista">
    <div class="item" *ngFor="let actividad of actividades">
      <div class="nombre">
        <ion-icon name="document-text-outline"></ion-icon>
        {{ actividad.nombre }}
      </div>
      <ion-button fill="clear" shape="round" size="small" (click)="goToActividad()">
        <ion-icon name="caret-forward-circle" slot="icon-only"></ion-icon>
      </ion-button>
      
    </div>
  </div>

  <ion-button expand="block" class="volver" (click)="goToCharlaEspecifica()">
    Volver a charla
  </ion-button>
  
</div>
