<ion-content>

    <div class="charlas-container">
      
      <h1>Charlas</h1>
  
      <div class="lista-charlas">
        <button class="charla-btn" (click)="goToCharla()">12/5 - Charla con Colegio nuestro fundador del prado</button>
        <button class="charla-btn">17/5 - Charla con Universidad los santos</button>
        <button class="charla-btn">20/5 - Charla con Colegio Santo Hideo</button>
        <button class="charla-btn">22/5 - Charla con Colegio monjas del monte</button>
      </div>
  
      <button class="volver-btn">Volver al menú</button>
      <button class="crear-charla-btn">Crear Charla Nueva</button>
      
    </div>
  
  </ion-content>
  