<ion-content>

    <div class="charlas-container">
      
      <h1>Charlas</h1>
  
      <div class="lista-charlas">

        <ion-button expand="block" fill="solid" class="charla-btn" (click)="goToCharla()"> 12/5 - Charla con Colegio nuestro fundador del prado </ion-button>

        <ion-button expand="block" fill="solid" class="charla-btn"> 17/5 - Charla con Universidad los santos </ion-button>

        <ion-button expand="block" fill="solid" class="charla-btn"> 20/5 - Charla con Colegio Santo Hideo </ion-button>

        <ion-button expand="block" fill="solid" class="charla-btn"> 22/5 - Charla con Colegio monjas del monte </ion-button>

      </div>
  
      <ion-button class="volver-btn" (click)="goToMenu()">
        Volver al menú
      </ion-button>

      <ion-button *ngIf="esAdmin" class="crear-charla-btn" (click)="goToCrearCharla()">
        Crear Charla Nueva
      </ion-button>
    </div>
  </ion-content>
