.contenido-edicion {
    padding: 1rem;
    top: 65px;
    display: flex;
    flex-direction: column;
    //overflow-y: auto;
    align-items: center;
    //bottom: 5rem;
  }
  
  .titulo-creacion {
    align-self: flex-start;
    margin: 0 0 1rem 1rem;
    font-size: 1.5rem;
    color: #333;
  }
  
  .pregunta-container {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
  }
  
  .input-pregunta {
    width: 50%;
    padding: 2.3vw;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    color: #333;
  
    @media (max-width: 768px) {
      width: 90%;
      padding: 1rem;
      
      .contenido-creacion{
        max-height: 100vh;
        overflow-y: auto;
      }
      
    }
  }
  
  .mi-grid-centro {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
  }
  
  .justificar-centro {
    justify-content: center;
  }
  
  .alternativa-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 0.01rem;
    background-color: #f9f9f9;
    flex-wrap: wrap;
  }
  
  .input-alternativa {
    flex-grow: 1;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    color: #333;
    padding: 0.8rem;
    min-width: 0;
  }
  
  .selector-correcta {
    width: 20px;
    height: 20px;
    border: 2px solid #7879f1;
    border-radius: 4px;
    cursor: pointer;
  
    &.activa {
      background-color: #7879f1;
    }
  }
  
  .texto-ayuda {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.95rem;
    color: #666;
    font-style: italic;
  }
  
  .finalizar-btn {
    display: block;
    margin: 2rem auto 0 auto;
    background-color: #7879f1;
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    font-size: 90%;
    max-width: 60%;
  }
  
  .exitosa {
    width: 90%;
    max-width: 400px;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: #ffffff;
    border: 2px solid #51548e;
    border-radius: 8px;
    text-align: center;
  
    p {
      margin: 0;
      font-size: 1.1rem;
      color: #000000;
    }
  }
  
  // .volver-actividades {
  //   position: fixed;
  //   bottom: 1rem;
  //   left: 1rem;
  //   background-color: #2e2b3d;
  //   color: #fff;
  //   border: none;
  //   padding: 0.75rem 1.25rem;
  //   border-radius: 20px;
  //   font-size: 0.9rem;
  //   cursor: pointer;
  //   z-index: 100;
  // }

  .volver-btn {
    position: fixed;
    bottom: 20px;
    z-index: 10;
    white-space: nowrap;
    font-size: 82%;
    max-width: 45%;
    width: auto;
    text-transform: none;
    left: 10px;
    --background: #010101;
    --color: white;
    padding: 1rem 2rem;
  }

  @media (max-width: 600px) {
    .alternativa-item {
      padding: 0.6rem;
    }
  
    .input-alternativa {
      font-size: 0.9rem;
      padding: 0.6rem;
    }
    .volver-btn {
      left: 10px;
      --background: #2e2b3d;
      --color: white;
      padding: 0.6rem 1rem;
    }
    .finalizar-btn {
      position: fixed;
      bottom: 30px;
      right: 20px;
      margin: 0;
      z-index: 100;
    }
  }
  