.principal{
  top: 70px;
}

.actividad-container {
    position: relative;
    padding: 2rem 1rem;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
  }
  
  .actividad-box {
    color: black;
    background-color: rgb(255, 255, 255);
    border: 1px solid #7879f1;
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .botones-superiores {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 3rem;
  }
  
  .boton-accion {
    background-color: #7879f1;
    color: white;
    border: none;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .boton-accion:hover {
    background-color: #5f60d3;
  }
  
  .volver-btn,
.eliminar-btn {
  position: fixed;
  bottom: 20px;
  z-index: 10;
  white-space: nowrap;
  font-size: 0.95rem;
  padding: 0.5rem 1rem;
  max-width: 45%;
  width: auto;
  text-transform: none;
}
  
.volver-btn {
  left: 10px;
  --background: #2e2b3d;
  --color: white;
}

.eliminar-btn {
  right: 10px;
  --background: #7879f1;
  --color: white;
  white-space: normal;
  text-align: center;
  height: 10%;

}

@media (max-width: 500px) {
  .principal{
    max-height: 100vh;
    overflow-y: auto;
  }
  
  .volver-btn,
  .crear-actividad-btn {
    font-size: 0.8rem;
    padding: 0.4rem 0.6rem;
    max-width: 45%;
  }

}
  .exitosa {
    width: 90%;
    max-width: 400px;
    margin: 2rem auto;            /* centrar */
    padding: 1.5rem;
    background-color: #ffffff;    /* fondo verde claro */
    border: 2px solid #51548e;    /* borde verde */
    border-radius: 8px;
    text-align: center;
  
    p {
      margin: 0;
      font-size: 1.1rem;
      color: #000000;             /* texto verde oscuro */
    }
  }