<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="assets/banner-superior.png" style="width: 100%; height: auto;" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="actividad-container">
    <div class="actividad-box">
      <strong>ACTIVIDAD: Fumar te da cancer</strong>
    </div>

    <div class="botones-superiores">
      <button class="boton-accion">Iniciar Actividad</button>
      <button class="boton-accion">Editar Actividad</button>
    </div>

    <button class="eliminar-btn">Eliminar Actividad</button>
    <button class="volver-btn">Volver a actividades</button>

  </div>

</ion-content>

