
<ion-content class="principal" >
  
  <div *ngIf="completado">
    <div class="actividad-container">
      <div class="actividad-box">
        <strong>ACTIVIDAD: Fumar te da cancer</strong>
      </div>

      <div class="botones-superiores">
        <button class="boton-accion" (click)="irAActividadIniciada()">Iniciar Actividad</button>
        <button *ngIf="esAdmin" class="boton-accion" (click)="irAeditandoActividad()">Editar Actividad</button>
      </div>

      <ion-button *ngIf="esAdmin" class="eliminar-btn" (click)="apretarEliminar()">Eliminar Actividad</ion-button>
      
    </div>
  </div>
  <ion-button class="volver-btn" (click)="irAActividades()">Volver a actividades</ion-button>
  <div *ngIf= "completado === false" class="exitosa" >
    <p>Actividad eliminada de manera exitosa.</p>
  </div>

</ion-content>

