.perfil-background {
   display: flex;
  top: 60px;
  --padding-bottom: 3rem; 
}

.perfil-container {
  max-width: 900px;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perfil-header {
  text-align: center;
}

.perfil-icon {
  font-size: 60px;
  color: #000;
}

ion-grid {
  width: 100%;
}

ion-row {
  display: flex;
  flex-wrap: wrap;
}

ion-col {
  padding: 0 1rem;
}

.campo {
  margin-bottom: 1rem;
}

.campo-label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.25rem;
  color: #000;
}

.campo-valor {
  font-size: 1rem;
  color: #333;
  text-align: left;
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}

.boton-volver {
  width: 100%;
  max-width: 300px;
  --background: #2e2b3d;
  --color: white;

  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 1000;
}

.boton-editar {
  --background: #7879f1;
  --color: white;
  border-radius: 10px;
  margin-top: 1.5rem;
  width: 100%;
  max-width: 300px;
  position: relative;
}

@media (max-width: 600px) {
  ion-col {
    width: 100% !important;
    padding: 0;
  }

  ion-row {
    flex-direction: column;
  }

  .perfil-icon {
    font-size: 48px;
  }

  .boton-volver {
    position: relative;
    left: auto;
    bottom: auto;
  }

  .boton-editar,
  .boton-volver {
    font-size: 0.9rem;
    width: 100%;
    max-width: none;
  }
}
