<ion-content>
  <div class="actividades-container">
    
    <h1>Actividades</h1>

    <div class="lista-actividades">
      <ion-button expand="block" fill="solid" class="actividad-btn" (click)="goToActividad()"> Actividad Fumar te da Cáncer </ion-button>
      
      <ion-button expand="block" fill="solid" class="actividad-btn"> Actividad El Vaper y sus efectos a largo plazo </ion-button>
        
      <ion-button expand="block" fill="solid" class="actividad-btn"> Actividad Tabaco y sus consecuencias </ion-button>
        
      <ion-button expand="block" fill="solid" class="actividad-btn"> Actividad Componentes del cigarro </ion-button>
        
    </div>

    <ion-button class="volver-btn" (click)="goToPrincipal()">
      Volver al menú
    </ion-button>

    <ion-button class="crear-actividad-btn" (click)="irACrearActividad()">
      Crear Actividad Nueva
    </ion-button>

  </div>
</ion-content>
