.app-layout {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ocupa toda la altura de la ventana */
  
    .content-layout {
      display: flex;
      flex: 1;
      height: 100%;
      //margin-top: 56px; /* Agrega margen para que no se solape con el header */
  
      .left-sidebar,
      .right-sidebar {
        width: 200px;
        background-color: #f1f1f1;
        height: 100%;
        position: relative;
        z-index: 1; /* Asegura que el sidebar esté por debajo del header */
      }
  
      .main-content {
        flex: 1;
        padding: 16px;
        background-color: #fff;
        overflow-y: auto;
      }
    }
  }
  